@model MVC_EF_Start.Models.Parks

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" type="text/css" href="l1-csslink.css">
    <style>

        h1 {
            color: Blue;
            margin-right: 100px;
        }

        h2 {
            color: purple;
            margin-right: 100px;
        }

        h3 {
            color: Green;
            margin-right: 100px;
        }

        img {
            margin-top: -5px
        }

        small {
            color: brown;
        }

        p {
            color: black;
        }
    </style>
    <meta charset="utf-8" />
    <title>Expereince doughnut Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>

</head>

<div id="info">
    <h1><span itemprop="name">Manoj Remela</span></h1>
    <div id="photo">
        <img src="http://myweb.usf.edu/~vremela/Manoj_profile_pic.jpg" alt="Manoj Release Profile photo avatar" width="170">

    </div>
    <h3><span itemprop="jobTitle">USF Student</span></h3>
    <small itemprop="address" itemscope itemtype="http://myweb.usf.edu/~vremela">
        <span itemprop="addressLocality">Tampa</span>,
        <span itemprop="addressRegion">Florida</span>,
        <span itemprop="addressCountry">USA</span>;
    </small>
    <small><span itemprop="email">vremala@usf.edu</span>;</small>
    <small>
        <a href="https://www.linkedin.com/in/varaha-remela-50366a65" itemprop="url">My Portfolio</a>
    </small>

    <h1><span itemprop="name">Jerry Marks</span></h1>
    <div id="photo">
        <img src=~/img/Jerry-101.jpg width="170">

    </div>
    <h3><span itemprop="jobTitle">USF Student</span></h3>
    <small itemprop="address" itemscope itemtype="http://myweb.usf.edu/~vremela">
        <span itemprop="addressLocality">Tampa</span>,
        <span itemprop="addressRegion">Florida</span>,
        <span itemprop="addressCountry">USA</span>;
    </small>
    <small><span itemprop="email">gmarks1@usf.edu</span>;</small>

    <h1><span itemprop="name">Hemu Dabbirru</span></h1>
    <div id="photo">
        <img src=~/img/hemu.jpeg width="170">

    </div>
    <h3><span itemprop="jobTitle">USF Student</span></h3>
    <small itemprop="address" itemscope itemtype="http://myweb.usf.edu/~vremela">
        <span itemprop="addressLocality">Tampa</span>,
        <span itemprop="addressRegion">Florida</span>,
        <span itemprop="addressCountry">USA</span>;
    </small>
    <small><span itemprop="email">hdabbirru@usf.edu</span>;</small>

    <h1><span itemprop="name">Angela Jones</span></h1>

    <h3><span itemprop="jobTitle">USF Student</span></h3>
        <span itemprop="addressLocality">Tampa</span>,
        <span itemprop="addressRegion">Florida</span>,
        <span itemprop="addressCountry">USA</span>;
      <small><span itemprop="email">ajones8@usf.edu</span>;</small>

</div>

    <li><a href="/home/Menu">Our Menu</a></li>
