@model MVC_EF_Start.Models.Parks

@{
    ViewData["Title"] = "Index";
}

<div class="art-of-cakes">

    <section class="text">
        <h1>Art of cakes</h1>
        <h2>We create delicious memories</h2>
        <p class="desc">
            Whether you are looking for our classic cannolis or modern twists such as our famous cronuts, Our Bakery offers the highest quality pastries in Tampa Bay.
        </p>
        <p class="job"></p>
        <div class="person">
            <p>Marks</p>
            <img src="~/img/chef.png" alt="Marks Gerald - chef">
            <p>Gerald</p>
        </div>
        <blockquote>Unique creations for unique occasions.</blockquote>
    </section>

    <section class="images">
        <img src="~/img/flour.jpg" alt="flour">
        <img src="~/img/egg.jpg" alt="egg">
        <img src="~/img/cake.jpg" alt="cake">
        <img src="~/img/strawberry.jpg" alt="strawberry">

        <img src="~/img/wavy-circle.png" alt="" class="wavy-circle">
        <h1>TASTES SO GOOD!</h1>
    </section>

</div>

<div class="pancakes">
    <div class="panel">

        <div class="img-rate">
            <fieldset>
                <input type="radio" name="rating" value="1" id="star1"><label for="star1"></label>
                <input type="radio" name="rating" value="2" id="star2"><label for="star2"></label>
                <input type="radio" name="rating" value="3" id="star3"><label for="star3"></label>
                <input type="radio" name="rating" value="4" id="star4"><label for="star4"></label>
                <input type="radio" name="rating" value="5" id="star5"><label for="star5"></label>
            </fieldset>
        </div>
        <section class="text">
            <h1>Hemu's Tasty pancakes</h1>
            <h2>Tampa Family's favourite breakfast</h2>
            <p class="desc">
                Two fresh cage-free eggs any style with either a light and a multigrain pancake. Plus your choice of bacon, savory chicken sausage patty, turkey or pork sausage.

            </p>
            <div class="steps">
                <img src="~/img/step-1.jpg" alt="">
                <img src="~/img/step-2.jpg" alt="">
                <img src="~/img/step-3.jpg" alt="">
            </div>
        </section>

        <section class="ready-in">
            <h1>READY IN</h1>
            <p>40</p>
            <span>mins</span>
        </section>

    </div>
</div>

<div class="recipe">

    <header class="text">
        <h1>The Angela's Delight sandwich</h1>
        <h2>The best sandwich you've ever tasted!</h2>
    </header>

    <div class="recipe-steps">
        <section class="text">
            <img src="~/img/recipe-step-1.png" alt="">
            <h1>Whole Wheat</h1>
            <p class="desc"></p>
        </section>
        <section class="text">
            <img src="~/img/recipe-step-2.png" alt="">
            <h1>Egg</h1>
            <p class="desc"> Our deli offers a variety of delightful options for any guest, even if you're on the go. We recommend trying our famous, hand-carved Cuban sandwiches and deviled crabs.</p>
        </section>
        <section class="text">
            <img src="~/img/recipe-step-3.png" alt="">
            <h1>Salad</h1>
            <p class="desc"> </p>
        </section>
    </div>

    <div class="recipe-img">
        <section class="ready-in">
            <h1>PREP</h1>
            <p>15</p>
            <span>min</span>
        </section>
        <section class="ready-in">
            <h1>COOK</h1>
            <p>35</p>
            <span>min</span>
        </section>
        <section class="ready-in">
            <h1>READY IN</h1>
            <p>50</p>
            <span>min</span>
        </section>
        <a href="#" class="button">FULL RECIPE</a>
    </div>

</div>
