@model MVC_EF_Start.Models.Parks

@{
    Layout = null;
}

    <head>
        <link rel="stylesheet" href="css/home.css">
    </head>

    <h1><span itemprop="name"> Please Provide Feedback on our web page :</span></h1>

    <p class="question">1. How do you rate our webpage on a scale of 1 to 5?</p>

    <ul class="answers">
        <input type="radio" name="q1" value="a" id="q1a">
        <label for="q1a"> 1 </label>
        <br />
        <input type="radio" name="q1" value="b" id="q1b">
        <label for="q1b"> 2</label>
        <br />
        <input type="radio" name="q1" value="c" id="q1c">
        <label for="q1c"> 3</label>
        <br />
        <input type="radio" name="q1" value="d" id="q1d">
        <label for="q1d"> 4</label>
        <br />
        <input type="radio" name="q1" value="d" id="q1d">
        <label for="q1d"> 5</label>
        <br />
    </ul>


    <p class="question">2. Which Page you like the most?</p>

    <ul class="answers">
        <input type="radio" name="q2" value="a" id="q2a">
        <label for="q2a"> Home</label>
        <br />
        <input type="radio" name="q2" value="b" id="q2b">
        <label for="q2b"> Our Menu</label>
        <br />
        <input type="radio" name="q2" value="c" id="q2c">
        <label for="q2c"> Favorites</label>
        <br />
        <input type="radio" name="q2" value="d" id="q2d">
        <label for="q2d"> Nutrition </label>
        <br />
        <input type="radio" name="q2" value="d" id="q2d">
        <label for="q2d"> Feedback </label>
        <br />
        <input type="radio" name="q2" value="d" id="q2d">
        <label for="q2d"> Contact </label>
        <br />

    </ul>

    <div id="category11">
        <p>
            You Provided your Feedback!!
        </p>
    </div>
