@model MVC_EF_Start.Models.Parks

@{
    ViewData["Title"] = "Index";
}


<h2>We Cater food to Family Picnics and  below are Loacal Parks That We Deliver food :</h2>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>

        <th>parkCode </th>
        <th>fullName </th>
        <th>Park Info </th>
        <th>latLong </th>
        

    </tr>
    @foreach (MVC_EF_Start.Models.Park park in Model.data)
    {
<tr>

    <td>@park.parkCode</td>
    <td>@park.fullName</td>
    <td>@park.url</td>
    <td>@park.latLong</td>



</tr>

    }
</table>
