@model MVC_EF_Start.Models.Parks

@{
    ViewData["Title"] = "Index";
}


<header class="hero">

    <nav>
        <a href="/home" class="logo">USF Bakery</a>
        <ul class="main-nav">
            <li><a href="/home/Menu">Our Menu</a></li>
            <li><a href="/home/favorites">Favorites</a></li>
            <li><a href="/home/nutrition">Nutrition Fact</a></li>
            <li><a href="/home/feedback"> Feedback</a></li>
            <li><a href="/home/contact">Contact</a></li>
        </ul>
        <ul class="social-media">
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </nav>

    <section class="intro">
        <h1>USF BAKERY</h1>
        <img src="~/img/dashed-line.png" alt="">
        <p>We're bringing you fresh ingredients every day in ways you can't resist. Pastry & Bread with care.</p>
        <a href="#" class="button"> OUR MENU</a>
    </section>

    <div class="bread-icon">
        <img src="~/img/bread.png" alt="bread">
    </div>

</header>

<div class="breakfast">

    <section class="text">
        <h1>Breakfast</h1>
        <h2>7am Breakfast? we're open!</h2>
        <section class="bf-type">
            <h1>Full breakfast</h1>
            <p class="desc">Continental breakfast</p>
            <span>USD 8.49</span>
        </section>
        <section class="bf-type">
            <h1>Kids breakfast</h1>
            <p class="desc">Pancakes &amp; Syrup</p>
            <span>USD 5.49</span>
        </section>
        <section class="bf-type">
            <h1>Sausage &amp; Egg </h1>
            <p class="desc">   </p>
            <span>USD 4.99</span>
        </section>
        <section class="bf-type">
            <h1>Toast &amp; Jam</h1>
            <p class="desc"></p>
            <span>USD 3.99</span>
        </section>
        <section class="bf-type">
            <h1>Muffins</h1>
            <p class="desc">  </p>
            <span>USD 2.95</span>
        </section>
    </section>

</div>