<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>USF Bakery | Bakery</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/site.css" />
   
</head>
<body>
    <header class="hero">
        <nav>
            <a href="/home" class="logo">USF Bakery</a>
            <ul class="main-nav">
                <li><a href="/home/Menu">Our Menu</a></li>
                <li><a href="/home/Favorites">Favorites</a></li>
                <li><a href="/home/Nutrition">Nutrition Fact</a></li>
                <li><a href="/home/Feedback"> Feedback</a></li>
                <li><a href="/home/Contact">Contact</a></li>
                <li><a href="/home/Order">Order</a></li>
                <li><a href="/home/Parksinfo">Picnic Cater</a></li>
            </ul>
        </nav>

    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    <div class="footer">

        <footer>

            <nav>
                <ul class="main-nav">
                    <ul class="social-media">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  
                    </ul>
                    <a href="#" class="logo">USF Bakery</a>
                    <li><a href="/home/Menu">Our Menu</a></li>
                </ul>
                

            </nav>

        </footer>

    </div>

    <script defer src="/js/fontawesome.js"></script>

</body>
</html>
